@import "../../_variables.scss";

h1.Heading {
  font-size: map-get($heading-sizes, h1);
  line-height: map-get($heading-line-heights, h1);
  font-family: map-get($heading-font-families, h1), $backup-heading-font;
  font-weight: bold;
  color: $primary-colour;
}
h2.Heading {
  font-size: map-get($heading-sizes, h2);
  line-height: map-get($heading-line-heights, h2);
  font-family: map-get($heading-font-families, h2), $backup-heading-font;
  font-weight: bold;
  color: $primary-colour;
}
h3.Heading {
  font-size: map-get($heading-sizes, h3);
  line-height: map-get($heading-line-heights, h3);
  font-family: map-get($heading-font-families, h3), $backup-body-font;
  font-weight: bold;
  color: $primary-colour;
}
h4.Heading {
  font-size: map-get($heading-sizes, h4);
  line-height: map-get($heading-line-heights, h4);
  font-family: map-get($heading-font-families, h4), $backup-heading-font;
  font-weight: normal;
  color: $primary-colour;
}
h5.Heading {
  font-size: map-get($heading-sizes, h5);
  line-height: map-get($heading-line-heights, h5);
  font-family: map-get($heading-font-families, h5), $backup-heading-font;
  font-weight: bold;
  color: $primary-colour;
}
h6.Heading {
  font-size: map-get($heading-sizes, h6);
  line-height: map-get($heading-line-heights, h6);
  font-family: map-get($heading-font-families, h6), $backup-heading-font;
  font-weight: 600;
  letter-spacing: 0.11875em;
  color: $primary-colour;
}